*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
* {
    scrollbar-width: auto;
    scrollbar-color: #9e9e9e;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 6px;
  }

  *::-webkit-scrollbar-track {
    background:tr;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #9e9e9e;
    border-radius: 10px;
  }
body{
    background-color:#26262D ;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items:center ;
}
header{
    z-index: 100;
}
nav{
    background-color: #31313A;
    width:  4.5em;
    height: 22em; 
    text-align: center;
    border-radius:10px ;
    margin-right: 7px;

}
nav ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 340px;
    justify-content: space-around;
    z-index: 1000;
}
li{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
a{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
}
li>i{
    font-size: 20px;
    color: #ffffff;
}
a:nth-child(){
    color: #76C86C;
}

a:hover{
    color:#76C86C ;
}

.somaire{
    text-align: center;
    position: relative;
    height: 42em;
    width: 30em;
    background-color: #31313A;
    border-radius: 5px;
    z-index: 70;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 1px 10px rgb(0, 0, 0),-1.9em -1.3em 0 .6em  #2A2A30;
}
.somaire>img{
    margin-top: 40px;
}
h1{
    position: absolute;
    bottom: 100px;
}
.somaire div{
    margin-top: 100px;
    display: flex;
}
.somaire button{
    border-width:0px ;
    border-style: solid;
    border-top-width:1px ;
    border-right-width:1px;
    height: 70px;
    width: 240px;
    background-color: #31313A;
    border-image: linear-gradient(50deg, rgba(242,242,242,1) 0%, rgba(62,62,62,1) 100%)1;
        
       
        
}
.somaire>div>a>button:first-of-type{
    border-bottom-left-radius: 20px;
    
}
.somaire>div>a:last-of-type>button{
    border-bottom-right-radius: 20px;
    border-image:linear-gradient(90deg, rgba(62,62,62,1) 0%, rgba(242,242,242,1) 100%)1;
    border-left:none ; 
    border-right: none;
}
.somaire img{
    width:380px ;
    height: 475px;
}
.somaire>div>a>button:hover{
    color: #76C86C;
}
#A-Propos{
    display: none;
    width: 35em;
    height: 39em;
    background-color: #31313A;
    border-radius:5px ;
    position: relative;
    right:10px;
    overflow-y: scroll;
        
}
h2{
 padding: 20px;
 font-size:25px ;
 color:#dcdcdc;
 border-bottom:solid 1px;
 border-image: linear-gradient(90deg, rgba(242,242,242,1) 0%, rgba(62,62,62,1) 100%)1;
}

#A-Propos>div>p{
    margin-left: 20px;
    width: 380px;
    font-size: 13px;
}.parent{
    display: flex;
}
.text.presentation{
    margin-left: 30px;
    width: 380px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-right:10px ;   
    color: #000000;
    border-right: 1px solid;
    border-image:linear-gradient(295deg, rgba(62,62,62,1) 0%, rgba(242,242,242,1) 100%)1; ;
    

}
.parent ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 250px;
    width: 300px;
    padding: 20px;

}.parent li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 300px;

}
.parent li p{
    background-color: #76C86C;
    padding: 5px;
    border-radius: 5px;
}
#A-Propos h3{
    color: #dcdcdc;
    padding: 20px;
   font-size: 25px;
   border-bottom:solid 1px;
   border-image: linear-gradient(90deg, rgba(242, 242, 242, 0.438) 0%, rgba(62,62,62,1) 100%)1;

}
.service{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.service i{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgb(118,200,108);
    background: linear-gradient(160deg, rgba(119, 200, 108, 0.605) 4%, rgba(119, 200, 108, 0.08) 93%);
    color: #76C86C;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 50px;
}
.service h4{
    color: #9e9e9e;
}

#cv{
    width: 35em;
    height: 39em;
    background-color: #31313A;
    border-radius:5px ;
    position: relative;
    right:10px;
    overflow-y: scroll;
}

#cv i{
    color: #76C86C;
}

.formation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    width: 30.5em;
    border-left: 1px solid;
    border-image:linear-gradient(0deg, rgba(62,62,62,1) 0%, rgba(242,242,242,1) 100%)1;
}

.formation h3{
    border-bottom: 1px solid;
    border-image:linear-gradient(90deg, rgba(242,242,242,1) 0%, rgba(62,62,62,1) 100%)1;
    padding: 10px;
    color: #dcdcdc;
    width: 25em;
    text-align: center;
}

.formation div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid;
    width: 30em;
    border-image:linear-gradient(90deg, rgba(242, 242, 242, 0.363) 0%, rgba(62, 62, 62, 0.486) 100%)1;
    padding: 5px;
}
.formation>div:first-of-type span{
    color: #76C86C;
}
.formation>div:last-of-type{
    border-bottom: none;
}
.formation span{
    font-size: 12px;
    color: #9e9e9e;
}
.formation div>p:first-of-type{
    color: #f4f4f4;
    text-align: center;
}
.formation div>p:last-of-type{
    font-size: 13px;
}
.competence h3{
    color: #dcdcdc;
    text-align: center;
    margin-top: 25px;
    border-bottom: 1px solid;
    padding-bottom: 15px;
    border-image:linear-gradient(90deg, rgba(242, 242, 242, 0.363) 0%, rgba(62, 62, 62, 0.486) 100%)1;
}
.parent-competence{
    display: flex;
}
.liste-competence{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding-top:10px;
    padding-left: 10px;
    padding-bottom: 10px;
    width: 250px;
}
.liste-competence h4{
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid;
    border-image:linear-gradient(90deg, rgba(242, 242, 242, 0.363) 0%, rgba(62, 62, 62, 0.486) 100%)1;
}
.liste-competence ul{
    padding-top: 10px;
    border-right: 1px solid;
    border-image:linear-gradient(190deg, rgba(242, 242, 242, 0.363) 0%, rgba(62, 62, 62, 0.486) 100%)1;
}
.liste-competence li{
    padding: 10px;
    border-bottom: 1px solid;
    border-image:linear-gradient(90deg, rgba(242, 242, 242, 0.363) 0%, rgba(62, 62, 62, 0.486) 100%)1;
}
.liste-competence li:last-of-type{
    border-bottom: none;
}
.liste-competence li p{
    color: #9c9b9b;
}
.liste-langage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 275px;
}
.liste-langage h4{
    text-align: center;
    margin-top: 10px;
    padding: 15px;
    border-bottom: 1px solid;
    width: 237px;
    border-image:linear-gradient(90deg, rgba(62, 62, 62, 0.486) 0%, rgba(242, 242, 242, 0.363) 100%)1;
}
.liste-langage ul{
    padding-top: 10px;
    width: 265px;
}
.liste-langage li{
    padding: 10px;
    padding-left:NONE
    ;
    border-bottom: 1px solid;
    border-image:linear-gradient(90deg, rgba(242, 242, 242, 0.363) 0%, rgba(62, 62, 62, 0.486) 100%) 1;
}
.liste-langage li:last-of-type{
    border-bottom: none;
}
.liste-langage li p{
    color: #9c9b9b;
}
.code{
    margin-left: 30px;
}
.code h4{
    text-align: center;
    width: 480px;
    padding: 20px;
}
.code ul li{
    display: inline-block;
    width: 45%;
    text-align: center;
}
.ligne{
    display: flex;
}

.rond{
    background-color: #9e9e9e;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
}
#r-vert{
    background-color: #76C86C;
}
.progress{
    position: relative;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #9e9e9e;
    margin: 10px;
    border-radius: 6px;
}
.pourcentage{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #76C86C;
    border-radius: 6px;
}


.r-ponrcentage{
    margin-top:10px ;
    display: flex;
    align-items:center ;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: 
        radial-gradient(closest-side, #31313A 78%, transparent 80% 100%),
        conic-gradient(#76C86C 80%,#9c9b9b 0);  
}




#projet{
    display: none;
}

#Contact{
    display: none;
}