/*RESET DE LA PAGE*/
*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
* {
    scrollbar-width: auto;
    scrollbar-color: #9e9e9e;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 6px;
  }

  *::-webkit-scrollbar-track {
    background:tr;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #9e9e9e;
    border-radius: 10px;
  }

body{
    background-color:#26262D ;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items:center ;
    font-family: Poppins;
}
/* ===============disgne de la bar nav===================*/
header{
    z-index: 100;
}
nav{
    background-color: #31313A;
    width:  4.5em;
    height: 22em; 
    text-align: center;
    border-radius:10px ;
    margin-right: 7px;

}
nav ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 340px;
    justify-content: space-around;
    z-index: 1000;
}
li{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
a{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
}
li>i{
    font-size: 20px;
    color: #ffffff;
}
a:nth-child(){
    color: #76C86C;
}

a:hover{
    color:#76C86C ;
    transition: all 1s ease-out;
}
a:active{
    color: #76C86C;
}
/* ======================================fin bar nav================================*/

/* =================================Disagne de la carte profil=======================*/
.profil{
    text-align: center;
    position: relative;
    height: 42em;
    width: 30em;
    background-color: #31313A;
    border-radius: 5px;
    z-index: 70;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 1px 10px rgb(0, 0, 0),-1.9em -1.3em 0 .6em  #2A2A30;
}
.profil>img{
    position: absolute;
    box-shadow: -20px 15px 5px#76C86C ;
    border: 4px solid #2A2A30;
    

}
.profil ul {
    position: absolute;
    bottom: 0;
    display:flex ;
    margin-top: 90px;
}
h1{
    position: absolute;
    bottom: 200px;
}
.profil div{
    margin-top: 100px;
    display: flex;
}
.button-cont {
    border-bottom-right-radius:5px ;
    border-width:0px ;
    border-style: solid;
    border-top-width:1px ;
    border-left-width:1px;
    height: 70px;
    width: 240px;
    background-color: #31313A;
    border-image: linear-gradient(50deg, rgba(62,62,62,1) 0%, rgba(242,242,242,1) 100%)1;
}
.telecharger {
    border-bottom-left-radius: 5px;
    border-width:0px ;
    border-style: solid;
    border-top-width:1px ;
    border-right-width:1px;
    height: 70px;
    width: 240px;
    background-color: #31313A;
    border-image: linear-gradient(50deg, rgba(242,242,242,1) 0%, rgba(62,62,62,1) 100%)1;
}
.profil img{
    width:150px ;
    height: 155px;
    border-radius: 100px;
    position: absolute;
    bottom: 350px;
}
.telecharger:hover{
    color: #76C86C;
    transition: all 1s ease-out;
    border-image:linear-gradient(90deg, #76C88C  0%,rgba(62,62,62,1)  100%)1;
}

.button-cont:hover{
    color: #76C86C;
    transition: all 1s ease-out;
    border-image:linear-gradient(50deg, rgba(62,62,62,1) 0%,#76C88C   100%)1;


}



/*==================================fin du profil==============================*/




/*===============================disgene des carte============================*/



/*=============================disgen de la cart A propos======================*/
#Apropos{
    width: 35em;
    height: 39em;
    background-color: #31313A;
    border-radius:5px ;
    position: relative;
    right:10px;
    overflow-y: scroll;
        
}
h2{
 padding: 20px;
 font-size:25px ;
 color:#dcdcdc;
 border-bottom:solid 1px;
 border-image: linear-gradient(90deg, rgba(242,242,242,1) 0%, rgba(62,62,62,1) 100%)1;
}

#Apropos>div>p{
    margin-left: 20px;
    width: 380px;
    font-size: 13px;
    
}.parent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vert{
    color: #76C86C;
}
.style-texte{
    text-decoration: underline;
    color: #76C86C;
}
.text-presentation{
    padding-left: 30px;
    padding-bottom: 20px;
    width: 480px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-right:10px ;   
    color: rgb(196, 196, 195);
    border-bottom: 1px solid;
    border-image:linear-gradient(295deg, rgba(62,62,62,1) 0%, rgba(242,242,242,1) 100%)1; ;
    

}
.parent ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 250px;
    width: 100px;
    padding: 20px;

}.parent li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 360px;

}
.parent li p{
    background-color: #76C86C;
    padding: 5px;
    border-radius: 5px;
    width: 100px;
}
.parent li span{
    color:rgb(196, 196, 195); 
}
#Apropos h3{
    color: #dcdcdc;
    padding: 20px;
   font-size: 25px;
   border-bottom:solid 1px;
   border-image: linear-gradient(90deg, rgba(242, 242, 242, 0.438) 0%, rgba(62,62,62,1) 100%)1;

}
.service{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.service i{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgb(118,200,108);
    background: linear-gradient(160deg, rgba(119, 200, 108, 0.605) 4%, rgba(119, 200, 108, 0.08) 93%);
    color: #76C86C;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 50px;
}
.service h4{
    color: #9e9e9e;
}
.service p {
    color: rgb(196, 196, 195) ;
    text-align: center;
    padding: 30px;
}
/*===============================disagne cart CV=========================*/
#cv{
    
    width: 35em;
    height: 39em;
    background-color: #31313A;
    border-radius:5px ;
    position: relative;
    right:10px;
    overflow-y: scroll;
}

#cv i{
    color: #76C86C;
}
/* ==============================CV partie Formation===================*/
.formation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    width: 30.5em;
    border-left: 1px solid;
    border-image:linear-gradient(0deg, rgba(62,62,62,1) 0%, rgba(242,242,242,1) 100%)1;
}

.formation h3{
    border-bottom: 1px solid;
    border-image:linear-gradient(90deg, rgba(242,242,242,1) 0%, rgba(62,62,62,1) 100%)1;
    padding: 10px;
    color: #dcdcdc;
    width: 25em;
    text-align: center;
}

.formation div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid;
    width: 30em;
    border-image:linear-gradient(90deg, rgba(242, 242, 242, 0.363) 0%, rgba(62, 62, 62, 0.486) 100%)1;
    padding: 5px;
}
.formation>div:first-of-type span{
    color: #76C86C;
}
.formation>div:last-of-type{
    border-bottom: none;
}
.formation span{
    font-size: 12px;
    color: #9e9e9e;
}
.formation div>p:first-of-type{
    color: #f4f4f4;
    text-align: center;
}
.formation div>p:last-of-type{
    font-size: 13px;
}
/*========================== CV partie competence===================*/
.competence h3{
    color: #dcdcdc;
    text-align: center;
    margin-top: 25px;
    border-bottom: 1px solid;
    padding-bottom: 15px;
    border-image:linear-gradient(90deg, rgba(242, 242, 242, 0.363) 0%, rgba(62, 62, 62, 0.486) 100%)1;
}
.parent-competence{
    display: flex;
}
/*======================Competence parie développement==============*/
.liste-developpement{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding-top:10px;
    padding-left: 10px;
    padding-bottom: 10px;
    width: 250px;
}
.liste-developpement h4{
    color: #9c9b9b;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid;
    border-image:linear-gradient(90deg, rgba(242, 242, 242, 0.363) 0%, rgba(62, 62, 62, 0.486) 100%)1;
}
.liste-developpement ul{
    padding-top: 10px;
    border-right: 1px solid;
    border-image:linear-gradient(190deg, rgba(242, 242, 242, 0.363) 0%, rgba(62, 62, 62, 0.486) 100%)1;
}
.liste-developpement li{
    padding: 10px;
    border-bottom: 1px solid;
    border-image:linear-gradient(90deg, rgba(242, 242, 242, 0.363) 0%, rgba(62, 62, 62, 0.486) 100%)1;
}
.liste-developpement li:last-of-type{
    border-bottom: none;
}
.liste-developpement li p{
    color: #9c9b9b;
}
.progress{
    position: relative;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #9e9e9e;
    margin: 10px;
    border-radius: 6px;
}
.pourcentage{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #76C86C;
    border-radius: 6px;
}


/*=============================== Competence partie Langue===============*/


.liste-langage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 275px;
}
.liste-langage h4{
    color: #9b9b9b;
    text-align: center;
    margin-top: 10px;
    padding: 15px;
    border-bottom: 1px solid;
    width: 237px;
    border-image:linear-gradient(90deg, rgba(62, 62, 62, 0.486) 0%, rgba(242, 242, 242, 0.363) 100%)1;
}
.liste-langage ul{
    padding-top: 10px;
    width: 265px;
}
.liste-langage li{
    padding: 10px;
    padding-left:NONE
    ;
    border-bottom: 1px solid;
    border-image:linear-gradient(90deg, rgba(242, 242, 242, 0.363) 0%, rgba(62, 62, 62, 0.486) 100%) 1;
}
.liste-langage li:last-of-type{
    border-bottom: none;
}
.liste-langage li p{
    color: #9c9b9b;
}
.rond{
    background-color: #9e9e9e;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
}
#r-vert{
    background-color: #76C86C;
}


/*======================= Competence partie langage progamation=============*/


.L-prog{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.L-prog h4{
    color: #9c9b9b;
}
.contenaire{
    display:flex ;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    width: 500px;
    border-bottom: 1px solid;
    padding-bottom: 20px;
    border-image:linear-gradient(90deg, rgba(242, 242, 242, 0.363) 0%, rgba(62, 62, 62, 0.486) 100%)1;
}
.contenaire:last-of-type{
    border-bottom: none;
}
#cart-code{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#cart-code:nth-child(1){
    border-right:1px solid ;
    border-image: linear-gradient(180deg, rgba(242, 242, 242, 0.363) 0%, rgba(62, 62, 62, 0.486) 100%) 1;
    padding-right: 80px;
}
.html .r-ponrcentage{
    margin-top:10px ;
    display: flex;
    align-items:center ;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: 
        radial-gradient(closest-side, #31313A 78%, transparent 80% 100%),
        conic-gradient(#76C86C 80%,#9c9b9b 0);  
}
.js .r-ponrcentage{
    margin-top:10px ;
    display: flex;
    align-items:center ;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: 
        radial-gradient(closest-side, #31313A 78%, transparent 80% 100%),
        conic-gradient(#76C86C 60%,#9c9b9b 0);  
}
.react .r-ponrcentage{
    margin-top:10px ;

    display: flex;
    align-items:center ;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: 
        radial-gradient(closest-side, #31313A 78%, transparent 80% 100%),
        conic-gradient(#76C86C 40%,#9c9b9b 0);  
}
.php .r-ponrcentage{
    margin-top:10px ;
    display: flex;
    align-items:center ;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: 
        radial-gradient(closest-side, #31313A 78%, transparent 80% 100%),
        conic-gradient(#76C86C 10%,#9c9b9b 0);  
}
.ligne{
    display: flex;
}

/*==============================Disagne cart Projet=======================*/
#projet{
   
    width: 35em;
    height: 39em;
    background-color: #31313A;
    border-radius:5px ;
    position: relative;
    right:10px;
    overflow-y: scroll;
}
.block-projet{
    padding-top:20px ;
    padding-left:20px ;
}
.block-projet ul{
    width: 15em;
}
.block-projet h3{
    color:#f4f4f4;
}
.block-projet p{
    color: #9c9b9b;
}
.iteam1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
 
}
.iteam2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
 
}
.iteam1:hover h3{
    color: #76C86C;
    transition: all 1s ease-out;
}
.iteam2:hover h3{
    color: #76C86C;
    transition: all 1s ease-out;
}

.iteam1 img{
    width: 100%;
    height: 20em;
    margin: 10px;
   object-fit: cover;
   border-radius: 4px;
   box-shadow: 3px 3px  7px black;
}
.iteam2 img{
    width: 15em;
    margin: 10px;
   object-fit: cover;
   border-radius: 4px;
   box-shadow: 3px 3px  7px black;
}
.iteam p{
    font-size: small;
}
#premier-block{
    margin-bottom: 30px;
}
#block-projet-1{
    border-right: 1px solid;
    border-image: linear-gradient(180deg, rgba(242, 242, 242, 0.363) 0%, rgba(62, 62, 62, 0.486) 100%)1;
    width: 105em;
}


/*==============================Disagne cart Conctact*=======================*/

#contact{
    
    width: 35em;
    height: 39em;
    background-color: #31313A;
    border-radius:5px ;
    position: relative;
    right:10px;
    overflow-y: scroll;
}
.contact{
    text-align: center;
}

.information li{
    display: inline-block;
    width: 47%;
    padding-top: 35px;
    font-size: 16px;
}
.information li:first-of-type{
    margin-left: 10px;
}
.information li div{
    display: flex;
    color: #9b9b9b;
}

#contact h3{
    color: #dcdcdc;
    text-align: center;
    margin-top: 25px;
    border-bottom: 1px solid;
    text-align: start;
    padding-bottom: 15px;
    padding-left: 20px;
    border-image:linear-gradient(90deg, rgba(242, 242, 242, 0.363) 0%, rgba(62, 62, 62, 0.486) 100%)1;
}
#cfrom{
    margin-top: 50px;
    width: 550px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#cfrom .sub-button{
    border: none;
    margin-top: 10px;
}
#cfrom input{
    background-color:#31313A;
    border: none;
    border-bottom: 1px solid ;
    border-image:linear-gradient(90deg, rgba(242, 242, 242, 0.363) 0%, rgba(62, 62, 62, 0.486) 100%)1;
    height: 50px;
    width: 40%;
    margin-bottom: 20px;


}

#cfrom input:focus{
    outline: none;
    border-bottom: 2px solid;
    border-image:linear-gradient(90deg, #76C86C 0%, rgba(62, 62, 62, 0.486) 100%)1;
    transition: all 1s ease-out;
    
}
#cfrom input:focus::placeholder{
    color: #f4f4f4;
}
.message{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.message textarea{
    background-color: #31313A;
    border: none;
    height: 100px;
    width: 80%;
    outline: none;
    border-bottom: 1px solid;
    border-image:linear-gradient(90deg, rgba(242, 242, 242, 0.363) 0%, rgba(62, 62, 62, 0.486) 100%)1;

}
.message textarea:focus{
    border-image:linear-gradient(90deg, #76C86C 0%, rgba(62, 62, 62, 0.486) 100%)1;
    transition: all 1s ease-out;
}
.message textarea:focus::placeholder{
    color: aliceblue;
}
.message button{
    margin-top: 20px;
    background-color: #31313A;
    border: none;
    width: 30%;
    color:#9c9b9b;
    transition: all 1s ease-out;;
}
.np{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;

}
.message button:hover{
    color: #76C86C;
    transition: all 1s ease-out;
}
.mail a{
    color:#9c9b9b;
    margin-left: 10px;
}
.num a{
    color: #9c9b9b;
    margin-left: 10px;
}
address{
    margin-left: 10px;
}